dist/
.vscode/
package.json

Using Object Oriented Programming, Create a contact management system. Design a creating User Interface. Your user should be able to add new contact, update and delete any contact. Use local storage to store the contacts.